* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

.information {
    display: inline-block;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-description {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid #ddd;
    margin-bottom: 10px;
}

.title {
    margin: 0 0 10px 0;
    font: bold 1.2em "Times New Roman";
    text-align: left;
}

div .news-card .title {
    margin: 0 0 10px 0;
    font: bold 2em "Times New Roman";
}

div .news-card .news-description .author {
    font-size: 0.8em;
    color: DarkGrey;
}

div .news-card .news-description .creationDate {
    font-size: 0.8em;
    color: DarkGrey;
}


.author {
    margin: 0;
}

.shortText {
    margin: 0 0 10px 0;
}

.fullText {
    margin: 0 0 20px 0;
}

.creationDate {
    margin: 0;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.result-container {
    display: flex;
    align-items: center;
    margin: 0 0 15px 5px;
}

.pagination p {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination p.active {
    background-color: dodgerblue;
    color: white;
    border: 1px solid dodgerblue;
    text-decoration: none;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.lang li {
    padding-right: 5px;
}

ul.register li {
    padding-right: 5px;
}

.register {
    margin: 0 0 0 auto;
}

.register, .lang {
    display: flex;
    align-items: center;
}

li a {
    display: block;
}

body {
    font-family: "Times New Roman", Helvetica, sans-serif;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    background-color: PaleTurquoise;
    padding: 10px;
    font-size: 1.2em;
    flex: 0 0 auto;
}

.header .row {
    justify-content: space-between;
    align-items: center;
}

.header .column.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .column.side {
    display: flex;
    align-items: center;
}

.tag {
    text-align: left;
    font-size: 0.8em;
    color: DarkGrey;
    padding-bottom: 10px;
}

.validation-msg {
    color: red;
    font-style: italic;
}

.row {
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
}

.content {
    margin-top: 70px;
}

.column {
    padding: 10px;
}

.column.side {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.app-name {
    text-align: left;
    margin: 0;
}

.column.middle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 3 1;
}

.input-wrapper {
    position: relative;
}

.input-wrapper input, textarea {
    width: 100%;
}

textarea {
    font-family: "Times New Roman", Helvetica, sans-serif;
}

.input-wrapper img {
    position: absolute;
    top: 50%;
    left: 100%;
    margin: 0;
    transform: translateY(-50%);
}

.footer {
    background-color: PaleTurquoise;
    padding: 20px;
    margin: auto 0 0 0;
    text-align: center;
    width: 100%;
    flex: 0 0 auto;
}

@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.form-editor label {
    padding: 5px 0 0 0;
    flex-shrink: 0;
}

.form-editor {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    max-width: none;
}

.news-form-editor {
    display: flex;
    align-items: stretch;
    width: 100%;
    max-width: none;
}

.from-editor-input-inline {
    flex-shrink: 0;
    flex-grow: 1;
    position: relative;
    margin: 0 10px;
}

.from-editor-input-inline small {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    margin: 0;
}

.from-editor-input-inline input {
    width: 100%
}

.form-editor-btn-container {
    flex-shrink: 0;
    display: flex;
}


.form-editor-btn-container button {
    margin: 0;
    white-space: nowrap;
    max-width: 150px;
    padding: 5px;
    width: 100%;
    min-width: 140px;
}

.form-editor-btn-container a.submit {
    margin: 0;
    white-space: nowrap;
    max-width: 150px;
    padding: 5px;
    width: 100%;
    min-width: 140px;
}

.form-editor-btn-container button.submit {
    margin: 0;
}

h1.error-header {
    font-weight: bold;
    font-size: 8em;
}

hr {
    border: none;
    background-color: darkgrey;
    color: darkgrey;
    height: 2px;
    width: 100%;
}

.error-message {
    text-transform: uppercase;
    font-style: italic;
    font-size: 2em;
}

.logout-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

a.submit {
    text-align: center;
    text-decoration: none;
    margin: 15px auto 0;
    padding: 5px 0;
    font-size: 1rem;
    color: #fff;
    border: none;
    transition: background-color .3s;
    cursor: pointer;
    background-color: dodgerblue;
}

.logout-page-container a.submit {
    text-align: center;
    text-decoration: none;
    margin: 15px auto 0;
    width: 30%;
    padding: 5px 0;
    font-size: 1rem;
    color: #fff;
    border: none;
    transition: background-color .3s;
    cursor: pointer;
    background-color: dodgerblue;
}

.logout-page-container a.submit:hover {
    background-color: darkslateblue;
}

.form-editor-btn-container button.cancel {
    margin: 0 0 0 10px;
}

.error-page-container a.submit {
    width: 30%;
}

.error-page-container a.submit:hover {
    background-color: darkslateblue;
}

.error-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

h1, h3, h4 {
    text-align: center;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    width: 100%;
    padding: 20px;
}

.search-form {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-bottom: 20px;
}

.search-form-btn-container button.submit,
.search-form-btn-container button.cancel {
    margin: 0;
    height: 50%;

}

.search-form-btn-container button.cancel {
    margin-top: 10px;
}


.search-form-btn-container {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100px;
}

.search-form-select-container {
    flex: 2 0 0;
}

.search-form-select-container > div + div {
    margin-top: 10px;
}

form input, textarea {
    font-size: 0.9rem;
    background: none;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 5px 10px;
    transition: border-color .3s;
}

label {
    padding: 12px 12px 18px 12px;
    text-align: left;
    font-size: 1.2em;
}


form input:focus {
    border-bottom-color: rgb(95, 84, 250);
}

form input + * {
    margin-top: 20px
}

.empty-msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 2em;
}

form button {
    max-width: 100px;
    margin: 15px auto 0;
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    text-transform: capitalize;
    color: #fff;
    border: none;
    transition: background-color .3s;
    cursor: pointer;
}

button.cancel {
    margin: 15px auto 0;
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    text-transform: capitalize;
    color: #fff;
    border: none;
    transition: background-color .3s;
    cursor: pointer;
    max-width: 100px;
    background-color: red;
}

button.cancel:hover {
    background-color: darkred;;
}

button.submit.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

button.submit {
    max-width: 100px;
    margin: 15px auto 0;
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    text-transform: capitalize;
    color: #fff;
    background-color: rgb(61, 53, 163);
    border: none;
    transition: background-color .3s;
    cursor: pointer;
}

.form-editor-btn-container a.submit {
    background-color: dodgerblue;
}

.form-editor-btn-container a.submit:hover {
    background-color: darkslateblue;
}

.form-editor-btn-container button.submit {
    background-color: dodgerblue;
}

.form-editor-btn-container button.submit:hover {
    background-color: darkslateblue;
}

.edit-btn-bottom {
    display: flex;
    justify-content: left;
    height: 100%;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 15px;
}

button.submit:hover {
    background-color: MidnightBlue;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form button.submit {
    background-color: dodgerblue;
}

form button.submit:hover {
    background-color: darkslateblue;
}

a.close {
    max-width: 100px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    color: #fff;
    border: none;
    transition: background-color .3s;
    cursor: pointer;
    background-color: red;
}

a.cancel {
    max-width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 15px auto 0;
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    color: #fff;
    border: none;
    transition: background-color .3s;
    cursor: pointer;
    background-color: red;
}

a.cancel:hover, a.close:hover {
    background-color: darkred;
}

.dashboard-container {
    width: 100%;
    position: sticky;
    top: 70px;
    padding: 5px 10px;
    background-color: PaleTurquoise;
}

a.dashboard {
    background-color: dodgerblue;
    color: white;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}

a.dashboard.selected {
    background-color: darkblue;
}

.news-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 4px solid #ddd;
    border-right: 4px solid #ddd;
    margin-bottom: 10px;
    height: 100%;
}

.tag-fullNews {
    text-align: left;
    margin-top: 20px;
    font-size: 1em;
    color: DarkGrey;
}


